.container {
	width: 800px !important;
}

body {
	margin-top: 36px;
	margin-bottom: 36px;
}

.jumbotron {
	text-align: center;
}

p.english {
	line-height: 0rem;
	font-size: 1.5rem;
}

br {
	line-height: 4rem;
}

#preview {
	width: 640px;
	margin-bottom: 42px;
}

section {
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 18px;
	margin-bottom: 12px;
	border: 1px solid #eee;
	border-radius: 6px;
}
